<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XCryptFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1691F20A1FBC6B2F00463A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1691F2201FBC6B3000463A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1691F22B1FBC6B3000463A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
